/js/node_modules
/js/.tern-project
/js/euler/node_modules/
/cljs/upgradingdave/resources/public/js/compiled/devcards_out
/cljs/upgradingdave/target
/cljs/upgradingdave/figwheel_server.log
/cljs/upgradingdave/.lein-repl-history
/cljs/upgradingdave/.nrepl-port
/cljs/upgradingdave/resources/public/js/core.cljs.cache.aot.json
/clj/.nrepl-port
/cljs/upgradingdave/resources/public/js/compiled/
/hs/.cabal-sandbox/
/.cabal-sandbox
/hs/dist
/hs/cabal.sandbox.config
/cabal.sandbox.config

clj/.nrepl-history
clj/.cpcache