/js/node_modules
/js/.tern-project
/js/archive/euler/node_modules/
/js/codewars/node_modules/
/js/codewars/.idea
/js/codewars/.vscode
/js/codewars/codewars.iml

/cljs/upgradingdave/resources/public/js/compiled/devcards_out
/cljs/upgradingdave/target
/cljs/upgradingdave/figwheel_server.log
/cljs/upgradingdave/.lein-repl-history
/cljs/upgradingdave/.nrepl-port
/cljs/upgradingdave/resources/public/js/core.cljs.cache.aot.json

/cljs/upgradingdave/resources/public/js/compiled/

/clj/.nrepl-port
/clj/.nrepl-history
/clj/.cpcache
/clj/.idea
/clj/clj.iml
/clj/target

/hs/.cabal-sandbox/
/.cabal-sandbox
/hs/old/dist
/hs/cabal.sandbox.config
/cabal.sandbox.config
/hs/codewars/.idea
/hs/codewars/.stack-work
/hs/codewars/codewars.iml
/hs/old/.stack-work

.DS_Store