{:paths ["src/clj" "resources"]
 :deps {;; selmer is used to generate project templates
        selmer {:mvn/version "1.12.28"}}
 :aliases {:repl
           {:extra-deps
            {cider/cider-nrepl {:mvn/version "0.25.5"}
             org.clojure/tools.deps.alpha {:mvn/version "0.6.496"}}}}}


